---
apiVersion: v1
kind: Service
metadata:
  annotations:
  creationTimestamp: null
  labels:
    app: immich-proxy
  name: immich-proxy
  namespace: immich
spec:
  ports:
    - name: "web"
      port: 2283
      targetPort: 8080
  selector:
    app: immich-proxy
  type: LoadBalancer
  loadBalancerIP: 192.168.100.85
status:
  loadBalancer: {}

---
apiVersion: v1
kind: Service
metadata:
  annotations:
  creationTimestamp: null
  labels:
    io.kompose.service: immich-database
  name: immich-database
  namespace: immich
spec:
  ports:
    - name: "dbport"
      port: 5432
      targetPort: 5432
  selector:
    app: immich-database
  type: ClusterIP
status:
  loadBalancer: {}

---
apiVersion: v1
kind: Service
metadata:
  annotations:
  creationTimestamp: null
  labels:
    io.kompose.service: immich-server
  name: immich-server
  namespace: immich
spec:
  ports:
    - name: "http"
      port: 3001
      targetPort: 3001
  selector:
    app: immich-server
  type: ClusterIP
status:
  loadBalancer: {}

---
apiVersion: v1
kind: Service
metadata:
  annotations:
  creationTimestamp: null
  labels:
    io.kompose.service: immich-web
  name: immich-web
  namespace: immich
spec:
  ports:
    - name: "web"
      port: 3000
      targetPort: 3000
  selector:
    app: immich-web
  type: ClusterIP
status:
  loadBalancer: {}

---
apiVersion: v1
kind: Service
metadata:
  annotations:
  creationTimestamp: null
  labels:
    io.kompose.service: immich-redis
  name: immich-redis
  namespace: immich
spec:
  ports:
    - name: "redis"
      port: 6379
      targetPort: 6379
  selector:
    app: immich-redis
  type: ClusterIP
status:
  loadBalancer: {}

---
apiVersion: v1
kind: Service
metadata:
  annotations:
  creationTimestamp: null
  labels:
    io.kompose.service: immich-typesense
  name: immich-typesense
  namespace: immich
spec:
  ports:
    - name: "typesense"
      port: 8108
      targetPort: 8108
  selector:
    app: immich-typesense
  type: ClusterIP
status:
  loadBalancer: {}

---
apiVersion: v1
kind: Service
metadata:
  annotations:
  creationTimestamp: null
  labels:
    io.kompose.service: immich-machine-learning
  name: immich-machine-learning
  namespace: immich
spec:
  ports:
    - name: "web"
      port: 3003
      targetPort: 3003
  selector:
    app: immich-machine-learning
  type: ClusterIP
status:
  loadBalancer: {}
